assets/images/Thumbs.db
assets/Thumbs.db
nodes/plugins/bin/Dynamic/309768683._dynamic_.1.dll
nodes/plugins/bin/Dynamic/309768683._dynamic_.1.pdb
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/403_BoundedBiharmonicWeights_bin.lastbuildstate
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/403_BoundedBiharmonicWeights_bin.write.1u.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/CL.command.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/CL.read.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/CL.write.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/custombuild.command.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/custombuild.read.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/custombuild.write.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/link.10896.read.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/link.10896.write.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/link.command.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/link.read.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/link.write.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/metagen.write.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_Boun.427246C4.tlog/unsuccessfulbuild
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_BoundedBiharmonicWeights_bin.Build.CppClean.log
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_BoundedBiharmonicWeights_bin.log
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/403_BoundedBiharmonicWeights_bin.vcxprojResolveAssemblyReference.cache
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/main.obj
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Debug/vc140.pdb
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_Boun.427246C4.tlog/403_BoundedBiharmonicWeights_bin.lastbuildstate
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_Boun.427246C4.tlog/403_BoundedBiharmonicWeights_bin.write.1u.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_Boun.427246C4.tlog/CL.command.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_Boun.427246C4.tlog/CL.read.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_Boun.427246C4.tlog/CL.write.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_Boun.427246C4.tlog/custombuild.command.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_Boun.427246C4.tlog/custombuild.read.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_Boun.427246C4.tlog/custombuild.write.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_Boun.427246C4.tlog/link.command.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_Boun.427246C4.tlog/link.read.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_Boun.427246C4.tlog/link.write.1.tlog
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_BoundedBiharmonicWeights_bin.Build.CppClean.log
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/403_BoundedBiharmonicWeights_bin.log
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/BBW4vvvv.Build.CppClean.log
src/403_BoundedBiharmonicWeights/403_BoundedBiharmonicWeights_bin.dir/Release/main.obj
src/403_BoundedBiharmonicWeights/bbw_demo (2)/alligator.obj
src/403_BoundedBiharmonicWeights/bbw_demo (2)/alligator.png
src/403_BoundedBiharmonicWeights/bbw_demo (2)/alligator_demo.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/alligator-skeleton-cage-points.tgf
src/403_BoundedBiharmonicWeights/bbw_demo (2)/avgedge.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/axisangle2quat.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/axisanglebetween.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/barycenter.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/bbw_demo.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/biharmonic_bounded.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/boundary_conditions.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/collapse_close_points.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/cotmatrix.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/cotmatrix3.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/doublearea.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/dualquatlbs.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/edges.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/faces_in_polygon.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/lbs.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/limit_faces.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/load_mesh.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/mask2poly.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/massmatrix.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/massmatrix_intrinsic.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/massmatrix3.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/normalizerow.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/normrow.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/ordered_outline.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/outline.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/png2mesh.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/png2poly.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/point_inside_polygon.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/poly2VEH.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/project_to_lines.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/pseudoedge_dof.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/quat2mat.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/quatmultiply.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/quattrans2udq.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/readEDGE.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/readELE.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/README
src/403_BoundedBiharmonicWeights/bbw_demo (2)/readNODE.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/readOBJ.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/readOBJfast.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/readOFF.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/readTGF.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/remesh_at_handles.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/sample_edges.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/simple_deform.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/skinning_transformations.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/snap_points_to_close_edges.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/stacktimes.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/tempprefix.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/tilefigs.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/triangle.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/tsurf.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/upsample.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/woody.obj
src/403_BoundedBiharmonicWeights/bbw_demo (2)/woody.png
src/403_BoundedBiharmonicWeights/bbw_demo (2)/woody.poly
src/403_BoundedBiharmonicWeights/bbw_demo (2)/writeELE.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/writeNODE.m
src/403_BoundedBiharmonicWeights/bbw_demo (2)/writePOLY.m
src/403_BoundedBiharmonicWeights/boundary_conditions_vvvv.cpp
src/403_BoundedBiharmonicWeights/boundary_conditions_vvvv.h
src/403_BoundedBiharmonicWeights/cmake_install.cmake
src/403_BoundedBiharmonicWeights/CMakeCache.txt
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CMakeCCompiler.cmake
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CMakeCXXCompiler.cmake
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CMakeDetermineCompilerABI_C.bin
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CMakeDetermineCompilerABI_CXX.bin
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CMakeRCCompiler.cmake
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CMakeSystem.cmake
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/CMakeCCompilerId.c
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/CompilerIdC.exe
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/CompilerIdC.vcxproj
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CMakeCCompilerId.obj
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.101.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.113.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.12.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.125.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.135.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.150.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.162.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.175.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.44.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.53.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.65.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.76.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.87.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.101.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.108.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.112.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.113.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.12.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.120.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.125.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.132.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.134.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.135.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.14.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.145.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.150.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.157.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.16.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.162.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.170.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.175.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.20.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.27.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.33.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.37.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.42.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.44.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.47.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.49.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.53.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.59.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.61.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.65.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.7.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.71.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.76.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.83.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.85.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.87.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.9.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.96.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.99.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.101.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.113.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.12.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.125.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.135.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.150.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.162.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.175.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.27.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.42.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.44.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.53.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.65.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.76.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.87.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdCXX/CompilerIdCXX.exe
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdCXX/CompilerIdCXX.vcxproj
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/3.5.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
src/403_BoundedBiharmonicWeights/CMakeFiles/c07c04a7036b5185acc6c6af7325ade2/generate.stamp.rule
src/403_BoundedBiharmonicWeights/CMakeFiles/cmake.check_cache
src/403_BoundedBiharmonicWeights/CMakeFiles/CMakeOutput.log
src/403_BoundedBiharmonicWeights/CMakeFiles/feature_tests.bin
src/403_BoundedBiharmonicWeights/CMakeFiles/feature_tests.cxx
src/403_BoundedBiharmonicWeights/CMakeFiles/generate.stamp
src/403_BoundedBiharmonicWeights/CMakeFiles/generate.stamp.depend
src/403_BoundedBiharmonicWeights/CMakeFiles/generate.stamp.list
src/403_BoundedBiharmonicWeights/CMakeFiles/TargetDirectories.txt
src/403_BoundedBiharmonicWeights/CMakeLists.txt
src/403_BoundedBiharmonicWeights/Debug/403_BoundedBiharmonicWeights_bin.exe
src/403_BoundedBiharmonicWeights/Debug/403_BoundedBiharmonicWeights_bin.exp
src/403_BoundedBiharmonicWeights/Debug/403_BoundedBiharmonicWeights_bin.lib
src/403_BoundedBiharmonicWeights/Debug/403_BoundedBiharmonicWeights_bin.pdb
src/403_BoundedBiharmonicWeights/Debug/403_BoundedBiharmonicWeights_bin2.dll
src/403_BoundedBiharmonicWeights/Release/403_BoundedBiharmonicWeights_bin.dll
src/403_BoundedBiharmonicWeights/Release/403_BoundedBiharmonicWeights_bin.dll.metagen
src/403_BoundedBiharmonicWeights/Release/403_BoundedBiharmonicWeights_bin.exp
src/403_BoundedBiharmonicWeights/Release/403_BoundedBiharmonicWeights_bin.lib
src/403_BoundedBiharmonicWeights/Release/403_BoundedBiharmonicWeights_bin2.dll
src/403_BoundedBiharmonicWeights/Release/BBW4vvvv.dll
src/403_BoundedBiharmonicWeights/Win32/Debug/ALL_BUILD/ALL_BUILD.vcxprojResolveAssemblyReference.cache
src/403_BoundedBiharmonicWeights/Win32/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
src/403_BoundedBiharmonicWeights/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
src/403_BoundedBiharmonicWeights/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
src/403_BoundedBiharmonicWeights/Win32/Release/403_Boun.427246C4.tlog/403_BoundedBiharmonicWeights_bin.lastbuildstate
src/403_BoundedBiharmonicWeights/Win32/Release/403_Boun.427246C4.tlog/403_BoundedBiharmonicWeights_bin.write.1u.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/403_Boun.427246C4.tlog/CL.command.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/403_Boun.427246C4.tlog/CL.read.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/403_Boun.427246C4.tlog/CL.write.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/403_Boun.427246C4.tlog/custombuild.command.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/403_Boun.427246C4.tlog/custombuild.read.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/403_Boun.427246C4.tlog/custombuild.write.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/403_Boun.427246C4.tlog/link.command.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/403_Boun.427246C4.tlog/link.read.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/403_Boun.427246C4.tlog/link.write.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/403_BoundedBiharmonicWeights_bin.log
src/403_BoundedBiharmonicWeights/Win32/Release/ALL_BUILD/ALL_BUILD.Build.CppClean.log
src/403_BoundedBiharmonicWeights/Win32/Release/ALL_BUILD/ALL_BUILD.log
src/403_BoundedBiharmonicWeights/Win32/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
src/403_BoundedBiharmonicWeights/Win32/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/ALL_BUILD/ALL_BUILD.vcxprojResolveAssemblyReference.cache
src/403_BoundedBiharmonicWeights/Win32/Release/BBW4vvvv.Build.CppClean.log
src/403_BoundedBiharmonicWeights/Win32/Release/BBW4vvvv.dll
src/403_BoundedBiharmonicWeights/Win32/Release/main.obj
src/403_BoundedBiharmonicWeights/Win32/Release/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
src/403_BoundedBiharmonicWeights/Win32/Release/ZERO_CHECK/ZERO_CHECK.log
src/403_BoundedBiharmonicWeights/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
src/403_BoundedBiharmonicWeights/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
src/403_BoundedBiharmonicWeights/x64/Release/403_Boun.427246C4.tlog/403_BoundedBiharmonicWeights_bin.lastbuildstate
src/403_BoundedBiharmonicWeights/x64/Release/403_Boun.427246C4.tlog/403_BoundedBiharmonicWeights_bin.write.1u.tlog
src/403_BoundedBiharmonicWeights/x64/Release/403_Boun.427246C4.tlog/CL.command.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/403_Boun.427246C4.tlog/CL.read.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/403_Boun.427246C4.tlog/CL.write.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/403_Boun.427246C4.tlog/custombuild.command.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/403_Boun.427246C4.tlog/custombuild.read.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/403_Boun.427246C4.tlog/custombuild.write.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/403_Boun.427246C4.tlog/link.command.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/403_Boun.427246C4.tlog/link.read.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/403_Boun.427246C4.tlog/link.write.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/403_BoundedBiharmonicWeights_bin.dll
src/403_BoundedBiharmonicWeights/x64/Release/403_BoundedBiharmonicWeights_bin.log
src/403_BoundedBiharmonicWeights/x64/Release/ALL_BUILD/ALL_BUILD.log
src/403_BoundedBiharmonicWeights/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
src/403_BoundedBiharmonicWeights/x64/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/BBW.dll
src/403_BoundedBiharmonicWeights/x64/Release/BBW4vvvv.Build.CppClean.log
src/403_BoundedBiharmonicWeights/x64/Release/BBW4vvvv.dll
src/403_BoundedBiharmonicWeights/x64/Release/main.obj
src/403_BoundedBiharmonicWeights/x64/Release/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
src/403_BoundedBiharmonicWeights/x64/Release/ZERO_CHECK/ZERO_CHECK.log
src/403_BoundedBiharmonicWeights/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
src/403_BoundedBiharmonicWeights/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
src/DOPEBoundedBiharmonicWeights/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/DOPEBoundedBiharmonicWeights/obj/Release/DesignTimeResolveAssemblyReferences.cache
src/DOPEBoundedBiharmonicWeights/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
src/DOPEBoundedBiharmonicWeights/obj/Release/DOPEBoundedBiharmonicWeights.csproj.FileListAbsolute.txt
src/DOPEBoundedBiharmonicWeights/obj/Release/DOPEBoundedBiharmonicWeights.csprojResolveAssemblyReference.cache
src/DOPEBoundedBiharmonicWeights/obj/Release/DOPEBoundedBiharmonicWeights.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/CommandLine.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/CommandLine.xml
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/DOPEBoundedBiharmonicWeights.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/ICSharpCode.NRefactory.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/ICSharpCode.SharpDevelop.Dom.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/log4net.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/Microsoft.Practices.ServiceLocation.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/Microsoft.Practices.Unity.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/Microsoft.Practices.Unity.xml
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/Mono.Cecil.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/SlimDX.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/SlimDX.xml
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/System.ComponentModel.Composition.Codeplex.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/System.ComponentModel.Composition.Codeplex.xml
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/System.Reactive.Core.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/System.Reactive.Core.xml
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/System.Reactive.Interfaces.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/System.Reactive.Interfaces.xml
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/System.Reactive.Linq.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/System.Reactive.Linq.xml
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/System.Reflection.Context.CodePlex.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/VVVV.Core.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/VVVV.PluginInterfaces.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/VVVV.PluginInterfaces.xml
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/VVVV.Utils.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/VVVV.Utils.xml
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/VVVV.Utils3rdParty.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/VVVV.Utils3rdParty.xml
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/VVVV.UtilsIL.dll
src/DOPEBoundedBiharmonicWeights/bin/AnyCPU/Release/VVVV.UtilsIL.xml
src/DOPEBoundedBiharmonicWeights/bin/Dynamic/2070148650._dynamic_.9.dll
src/DOPEBoundedBiharmonicWeights/bin/Dynamic/2070148650._dynamic_.9.pdb
